@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000035;
    color: #fff;
    overflow-x: hidden;
}

.content {
    max-width: 75rem;
    min-height: 100vh;
    margin: auto;
}

.bg-circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -100;
}

.bg-c1 {
    position: absolute;
    top: -450px;
    left: 11rem;
    background-color: #8080D7;
}

.bg-c2 {
    position: absolute;
    top: 250px;
    right: -350px;
    background-color: #AAD9D9;
}

.nav, #hero, #analytics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
}

.hamburger {
    position: relative;
    display: none;
    width: 35px;
    /* height: 35px; */
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger > .h-bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.mobile-nav {
    display: none;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .h-bar {
    opacity: 0;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: right;
    list-style: none;
}

.nav-list > li {
    padding: .5rem;
    margin-left: 4rem;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#nav-item-last {
    padding-right: 0;
}

.logo {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.heading {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 67px;
    width: 25rem;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 2rem;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 25rem;
    margin-bottom: 2rem;
}

.primary, .secondary {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 40px;
}

.primary {
    background-color: #8D8DDA;
}

.secondary {
    background-color: transparent;
    border: 1px solid #88D0D1;
    margin-left: 2rem;
}

.title {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    background-color: #46417B;
    opacity: 60%;
    border-radius: 7px;
}

.heading2 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    width: 32rem;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 2rem;
}

.t-color {
    color: #AAD9D9;
}

#get-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding-left: 3vw;
}

#get-app > .right {
    margin: auto;
}

.test-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-headings > .heading2 {
    width: 35vw;
    text-align: center;
    margin-top: 1.5rem;
}

.test-cards {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
}

.t-card {
    background-color: #2A275F;
    border-radius: 20px;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
}

.t-img {
    border-radius: 50%;
    position: relative;
    top: -4rem;
    width: 140px;
    height: 140px;
    background-color: #2A275F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}

.test-img1 {
    background-image: url("imgs/test-profile1.png");
}

.test-img2 {
    background-image: url("imgs/test-profile2.png");
    
}

.test-img3 {
    background-image: url("imgs/test-profile3.png");
}

.t-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.t-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

#call-to-action > div {
    background: linear-gradient(278.25deg, #AAD9D9 -5.54%, #4040C5 102.54%);
    border-radius: 30px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.action-title {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    margin-top: 5rem;
}

.center {
    text-align: center;
    margin-top: 1rem;
}

.black {
    background-color: #000;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 5rem;
}

footer > div > ul {
    margin-top: 1rem;
    list-style: none;
}

footer > div > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
}

.f-logo {
    grid-column: 1/3;
}

.f-logo > a {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

}

.f-title {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.krypto {
    grid-column: 3/5;
}

.market {
    grid-column: 5/7;
}

.contact {
    grid-column: 7/9;
}

.newsletter {
    grid-column: 9/13;
}

.newsletter > p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 10px;
}

.email {
    margin-top: 2rem;
}

.email > input {
    background: #2A275F;
    border-radius: 70px;
    border: none;
    width: 26rem;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.65;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

#submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: #8D8DDA;
    border-radius: 40px;
    position: relative;
    top: -3.8rem;
    left: 18.2rem;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

/* On screens that are 1240px or less, set ... */
@media screen and (max-width: 1240px) {
    .content {
      max-width: 90%;
    }

    .heading2 {
        font-size: 3rem;
        width: 27rem;
    }

    .t-card {
        width: 17rem;
    }

    .email > input {
        width: 19rem;
    }

    #submit {
        left: 11.2rem;
    }
}

/* On screens that are 900px or less, set ... */
@media screen and (max-width: 900px) {
    .content {
        max-width: 95%;
    }

    .nav-list > li {
        margin-left: 1.5rem;
    }

    .heading {
        width: 20rem;
        font-size: 50px;
    }

    .heading2 {
        width: 25rem;
        font-size: 3rem;
    }

    .text {
        width: 20rem;
    }

    .primary, .secondary {
        padding: .5rem 1.5rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    .test-cards {
        flex-direction: column;
        align-items: center;
    }

    .t-card {
        width: 25rem;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    .f-logo {
        display: none;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }
}

/* On screens that are 600px or less, set ... */
@media screen and (max-width: 600px) {

    .content {
        max-width: 90%;
    }

    #hero, #get-app {
        flex-direction: column-reverse;
    }

    #hero .right, #get-app .right {
        margin-bottom: 3rem;
    }

    .heading {
        width: 89vw;
        font-size: 10vw;
    }

    .bar img {
        width: 20%;
        height: auto;
    }

    #analytics {
        flex-direction: column;
    }

    .nav-list {
        display: none;
    }

    .hamburger, .logo {
        display: block;
        z-index: 100;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: #000035;
        padding-top: 150px;
        transition: 0.4s;
    }

    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav a {
        display: block;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
        max-width: 200px;
        padding: 12px 16px;
        margin: 0 auto 16px;
        background-color: #4040C5;
        color: #fff;
        text-decoration: none;
    }

    .mobile-nav a:hover {
        background-color: #46417B;
    }

    .test-headings .heading2 {
        width: 63vw;
    }

    .heading2 {
        font-size: 10vw;
        width: 50vw;
    }

    .text {
        width: 75vw;
    }

    .t-card {
        width: 85vw;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}